/* Show it is fixed to the top */
html {
  position: relative;
  margin: 0;
   height: 100%;
}

body {
  margin: 0;
  height: 100%;
  background-image: url('assets/images/background.jpg');
}

.myphoto{
      max-width: 200px;
}

.img-circle {
    border-radius: 50%;
}

#myName{
  font-size: 1.5em;
}

.resumeLink{
  text-decoration: none;
  font-size: 1em;
}

.dancingFont{
  font-family: 'Dancing Script', cursive;
}

.whiteTextColor{
  color:#fff;
}

.footer {
  bottom: 0;
  height:50px;
  width: 100%;
  background-color: #343a40;
}

.logo{
  margin-right: 1%;
}
.mylogo{
  max-width: 50px;
}

#aboutTitle{
  font-size: 1.5em;
}

#aboutMeText{
  font-size: 1em;
  line-height: 1em;
}

.content{
  position: absolute;
  bottom: 50px;
  top: 75px;
  overflow: auto;
}